#loginForm{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #loginForm > h2{
    text-align: center;
    font-family: cursive;
    color: rgba(0, 47, 85, 0.856);
  }
  
  #loginForm > span{
    display: inherit;
    margin-top: 10px;
  }
  
  #loginForm > span > p{
    width: 30%;
    height: auto;
    margin: 0;
    font-size: larger;
    font-weight: bold;
  }
  
  #loginForm > span > input{
    margin-top: auto auto auto auto;
    height: 20px;
    width: 100%;
    font-size: large;
  }
  
  #loginForm >  button{
    width: 20%;
    height: auto;
    margin: 20px auto auto auto;
    font-size: larger;
  }

